
p.numberFont {
  font-size: 100px;
  line-height: 0px;
}

button.changeValuebtn {
  display: inline-block;
  outline: none;
  border-width: 0px;
  border-radius: 3px;
  box-sizing: border-box;
  font-weight: 500;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
  background: #091e420a;
  cursor: pointer;
  height: 130px;
  line-height: 32px;
  padding: 0px 12px;
  vertical-align: middle;
  width: 100%;
  font-size: 100px;
  color: #42526e;
  :hover {
      background: #091e4214;
      text-decoration: inherit;
      transition-duration: 0s, 0.15s;
      color: #42526e;
  }
}

p.error {
  color: red;
}
